.login {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;

    &_input {
        margin-bottom: 20px !important;
    }

    &_sing-up {
        margin-top: 20px;
    }

    &_icons {
        margin-top: 20px;
        img {
            cursor: pointer;
            height: 40px;
            width: 40px;
        }
    }
}